/* Add CSS styling here */


.header-nav {
    display:flex;
    justify-content:center;
    flex-wrap: wrap;
}

.footer-nav {
    height: 40vh;
    width: 98vw;
    display:flex;
    justify-content: center;
    align-items:center;
    background-color:#7f8274;
}

.main-title {
    display:flex;
    justify-content:center;
}

.intro-text {
    display:flex;
    justify-content:center;
}

.picture-row-1 {
    width: 98vw;
}

.picture-row-2 {
    display:flex;
    flex-direction:row;
    justify-content:space-around;
    padding: 10vh;
}

div, p, h1, h2{
    text-align:center;
}

h1 {
    font-size: 40px;
}

button {
    border: 1px solid red;
    height: 5vh;
    width: 10vw;
    background-color:#32332c;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
}

button:hover {
    background-color:red;
    color: white;
}
